.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.itemList__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 10px;
    width: calc(33.3% - 10px);
    min-height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
}
.itemList__item .itemImage {
    margin-right: -10px;
}

.itemList__item .itemPrice {
    font-size: 20px;
    line-height: 40px;
}

@media (max-width: 575.98px) {
    .itemList__item {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .itemList__item {
        width: calc(50% - 10px);
    }
}